
@{
    ViewData["Title"] = "تقرير الغياب";

    DateTime firstMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    DateTime lastMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1);
}

<div class="d-print-none">
    <form>
        <div class="form-row">
            <div class="form-group col-md-2" style="max-width:170px">
                <label for="startDate" class="control-label"> من تاريخ :</label>
                <br />
                <kendo-datepicker name="startDate" id="startDate" value="firstMonthDay"
                                  format="yyyy-MM-dd" min="new DateTime(2018,12,1)" max="lastMonthDay"
                                  class="form-control" style="width:160px" data-toggle="tooltip" data-placement="bottom" title="عرض من تاريخ" />
            </div>
            <div class="form-group col-md-2" style="max-width:170px">
                <label for="endDate" class="control-label"> إلى تاريخ :</label>
                <br />
                <kendo-datepicker name="endDate" id="endDate" value="lastMonthDay"
                                  format="yyyy-MM-dd" min="new DateTime(2018,12,1)" max="lastMonthDay"
                                  class="form-control" style="width:160px" data-toggle="tooltip" data-placement="bottom" title="عرض الى تاريخ" />
            </div>
            <div class="form-group col-md-3">
                <label for="employees" class="control-label"> الموظفين :</label>
                <br />
                @(Html.Kendo().MultiSelect()
                                                        .Name("employees")
                                                        .Placeholder("تحديد الموظفين ...")
                                                        .HtmlAttributes(new { style = "100%" })
                                                        .DataTextField("EmployeeId")
                                                        .DataValueField("EmployeeId")
                                                        .AutoClose(true)
                                                        .AutoBind(false)
                                                        .MinLength(2)
                                                        .Delay(1000)
                                                        .ItemTemplate("<span style=\"color:red\">#= EmployeeId #</span>&nbsp;-&nbsp; #= Name #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("ShortEmployeesInfoByTextJson", "Employees");
                                                    })
                                                    .ServerFiltering(true);
                                                })
                )
            </div>
            <div class="form-group col-md-3">
                <label for="departments" class="control-label"> الادارات - الاقسام</label>
                <br />
                @(Html.Kendo().DropDownTree()
                            .Name("departments")
                            .AutoWidth(true)
                            .HtmlAttributes(new { style = "width: 100%" })
                            .Height("500px")
                            .Placeholder("اختر الادارة - القسم ")
                            .DataTextField("name")
                            .AutoClose(false)
                            //.Filter(FilterType.Contains)
                            .Checkboxes(checkboxes => checkboxes
                                .Name("checkedDepartments")
                                .CheckChildren(false)
                            )
                            .DataSource(dataSource => dataSource
                            .Read(read => read
                                .Action("GetAllDepartmentsJson", "Departments")
                            ))
                )
            </div>
            <div class="form-group col-md-1" style="min-width:130px" data-toggle="tooltip" data-placement="bottom" title="عرض و اخفاء أيام الغياب للموظفين حسب الملاحظات">
                <label for="absentNotes" class="control-label">الملاحظات</label>
                <select id="absentNotes" name="absentNotes" class="custom-select">
                    <option value="show" selected title="عرض جميع أيام الغياب بدون استثناء">عرض</option>
                    <option value="hide" title="إخفاء أيام الغياب لمن لديه طلب إجازة او إنتداب">إخفاء</option>
                    <option value="notes" title="عرض أيام الغياب لمن لديه طلب إجازة او إنتداب فقط">الملاحظات</option>
                    <option value="vacations" title="عرض أيام الغياب لمن لديه طلب إجازة فقط">الاجازات</option>
                    <option value="delegations" title="إخفاء أيام الغياب لمن لديه طلب إنتداب فقط">الانتدابات</option>
                </select>
            </div>
            <div class="form-group col-md-1" style="min-width:130px" data-toggle="tooltip" data-placement="bottom" title="نوع تقرير الغياب للموظفين">
                <label for="reportType" class="control-label">نوع التقرير</label>
                <select id="reportType" name="reportType" class="custom-select">
                    <option value="true" selected title="تقرير مختصر بأيام الغياب للموظفين">مختصر</option>
                    <option value="false" title="تقرير تفصيلي بأيام الغياب للموظفين">تفصيلي</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label for="showAbsents" class="control-label">&nbsp;</label>
                <br />
                <button type="submit" id="showAbsents" class="btn btn-info btn-block"> عرض <i class="fas fa-search"></i> </button>
            </div>
        </div>

    </form>
</div>


<div id="absentsData">
    <p id="report" class="lead" style="text-align:center;margin-top:150px;font-style:italic;color:gray"> .... تقرير الغياب .... </p>
</div>

@section header{ 
    <style>

        .search-row{
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-between;
            align-items:center;
            background-color:lightyellow;
            min-height:50px;
        }

        .search-row > div {
            padding:0 5px;
        }

        .search-dates {
            background-color: lightcyan;
        }

        .search-2{
            flex:1;
        }

    </style>
}

@section scripts{
    <partial name="_ValidationScripts">
        <script>

            $(function () {

                $('[data-toggle="tooltip"]').tooltip()

                $('form').submit(function (e) {

                    if ($(this).valid()) {

                        var departmentsTree = $("#departments").data("kendoDropDownTree");
                        var departmentsNodes = departmentsTree.dataSource.view();
                        var checkedDepartmentsNodes = [];

                        checkedNodesIds(departmentsNodes, checkedDepartmentsNodes);

                    var options = {
                    url: "@Url.Action("AbsentsReport", "EmployeesDaysReports")",
                    type: "Post",
                    dataType: "html",
                        data: {
                              startDate: $("#startDate").val()
                            , endDate: $("#endDate").val()
                            , employeesIds: $("#employees").data("kendoMultiSelect").value()
                            , absentNotes: $("#absentNotes").val()
                            , summaryReport: $("#reportType").val()
                            , departments: checkedDepartmentsNodes
                        },
                    success: function updateBalances(data) {
                        $("#absentsData").html(data);
                        $("#absentsData").fadeIn();
                        $("#mail").fadeIn();
                    },
                 error: function () {
                     $("#absentsData").text("error");
                     $("#absentsData").fadeIn();
                     $("#mail").fadeOut();
                        },
                 beforeSend: function () {
                     $("#absentsData").html("<div class='text-center'><div class='spinner-grow text-info' role='status'><span class='sr-only'> Loading...</span ></div></div>");
                     $("#mail").hide();
                        },
                        complete: function () {
                            $("#mailSend").prop('disabled', false);
                        }
                };

                $.ajax(options);

                }

                e.preventDefault();
            });

        })

        </script>

}

