@model IEnumerable<EmployeeDayReportViewModel>

@{
    ViewData["Title"] = "تقرير الغياب";
}

<table class="report-container" style="width:100%">
    <thead class="report-header">
        <tr>
            <th class="report-header-cell">
                <div class="header-info">
                    <div id="header-info" class="row justify-content-center align-self-center text-center">
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <h5>قسم عمليات الموارد البشرية</h5>
                            <h6>تقرير الغياب</h6>
                        </div>
                        <div class="col">
                            <div class="d-none d-print-block"><img style="max-width:190px; max-height:130px" src="~/Images/SGSLOGO.png" /></div>
                        </div>
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <img style="max-width:70px; max-height:90px" src="~/Images/scan-fingerprint-icon.png" />
                            <h5 class="text-info" style="display:inline">نظام البصمة</h5>
                        </div>
                    </div>
                    <br />
                </div>
            </th>
        </tr>
    </thead>
    <tfoot class="report-footer">
        <tr>
            <td class="report-footer-cell">
                <div class="footer-info">

                </div>
            </td>
        </tr>
    </tfoot>
    <tbody class="report-content">
        <tr>
            <td class="report-content-cell">
                <div>
                    @*<div class="d-print-none" style="margin-bottom:5px;">
                        <button class="btn btn-outline-secondary d-print-none" onclick="window.print()">
                            <i class="fas fa-print"></i> طباعة
                        </button>
                        <br />
                    </div>*@
                    
                    <table class="table table-bordered table-striped">
                        <thead style="background-color:#bbe3e8; text-align:center">
                            <tr>
                                <th>الرقم الوظيفي</th>
                                <th>اسم الموظف</th>
                                <th>الادارة - القسم</th>
                                <th>تاريخ الغياب</th>
                                <th>ملاحظات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Absent in Model)
                            {
                            <tr style="text-align:center">
                                <td>@Absent.EmployeeId</td>
                                <td>@Absent.EmployeeName</td>
                                <td>@Absent.DepartmentName</td>
                                <td>@Absent.DayDate.ConvertToString(showDayName:true,showDayNameInArabic:true)</td>
                                @if (Absent.IsDelegationRequest)
                                {
                                    <td style="color:red">طلب انتداب</td>
                                }
                                else if (Absent.IsVacationRequest)
                                {
                                    <td style="color:green">طلب اجازة</td>
                                }
                                else
                                {
                                    <td>
                                        <button id="mailSend" class="btn btn-outline-success btn-sm" style="width:80px" title="إرسال إشعار غياب عبر البريد الكتروني للموظف"><i class="far fa-envelope fa-lg"></i></button>
                                    </td>
                                }
                                
                            </tr>
                            }
                            @if(Model.Count() < 1)
                            {
                                <tr>
                                    <td colspan="5" class="text-center">
                                        ... لا يوجد بيانات ...
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
