
@{
    ViewData["Title"] = "الغياب";

    DateTime firstMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    DateTime lastMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1);
}

<div class="d-print-none">
    <form>
        <div class="form-inline">
            <div class="form-group">
                <label for="startDate" class="control-label" style="margin:0 20px"> من تاريخ :</label>
                <kendo-datepicker min="new DateTime(2018,12,1)" name="startDate" id="startDate" value="firstMonthDay" format="yyyy-MM-dd" title="عرض من تاريخ" />
            </div>

            <div class="form-group">
                <label for="endDate" class="control-label" style="margin:0 20px"> إلى تاريخ :</label>
                <kendo-datepicker min="new DateTime(2018,12,1)" name="endDate" id="endDate" value="lastMonthDay" format="yyyy-MM-dd" title="عرض الى تاريخ" />
            </div>
            <div class="form-group">
                <label for="reportType" class="control-label" style="margin:0 20px"> نوع التقرير :</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" style="direction:ltr">
                    <label class="btn btn-outline-info">
                        <input type="radio" name="reportType" id="detailsReport" autocomplete="off" value="details"> تفصيلي
                    </label>
                    <label class="btn btn-outline-info active">
                        <input type="radio" name="reportType" id="summaryReport" autocomplete="off" value="summary" checked> مختصر
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="employees" class="control-label" style="margin:0 20px;"> الموظفين :</label>
                @(Html.Kendo().MultiSelect()
                  .Name("employees")
                  .Placeholder("تحديد الموظفين ...")
                  .HtmlAttributes(new { style="width:400px"})
                  .DataTextField("Name")
                  .DataValueField("EmployeeId")
                  .BindTo(new List<string>() {
                      "Steven White",
                      "Nancy King",
                      "Anne King",
                      "Nancy Davolio",
                      "Robert Davolio",
                      "Michael Leverling",
                      "Andrew Callahan",
                      "Michael Suyama",
                      "Anne King",
                      "Laura Peacock",
                      "Robert Fuller",
                      "Janet White",
                      "Nancy Leverling",
                      "Robert Buchanan",
                      "Andrew Fuller",
                      "Anne Davolio",
                      "Andrew Suyama",
                      "Nige Buchanan",
                      "Laura Fuller"
                  })
                )

            </div>

            <div class="form-group" style="margin: 0 30px">
                <button type="submit" id="showAbsents" class="btn btn-primary"> عرض </button>
            </div>
        </div>
    </form>
    <br />
</div>

<div id="absentsData">

</div>



@section scripts{
    <partial name="_ValidationScripts">
        <script>

        $(function () {

              $('form').submit(function (e) {
                if ($(this).valid()) {

                    var options = {
                    url: "@Url.Action("AbsentsReport", "EmployeesDaysReports")",
                    type: "Post",
                 dataType: "html",
                    data: { startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                    success: function updateBalances(data) {
                        $("#absentsData").html(data);
                        $("#absentsData").fadeIn();
                    },
                 error: function () {
                     $("#absentsData").text("error");
                     $("#absentsData").fadeIn();
                    }
                };

                $.ajax(options);

                }

                e.preventDefault();
            });

            toastr.clear();

        })

        </script>

}

