@{
    ViewData["Title"] = "تقرير التقصير";

    DateTime firstMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    DateTime lastMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1);
}

<div class="d-print-none">
    <form class="form-inline">
        <div class="form-group">
            <label for="startDate" class="control-label" style="margin:0 20px"> من تاريخ :</label>
            <kendo-datepicker min="new DateTime(2018,12,1)" name="startDate" id="startDate" value="firstMonthDay" format="yyyy-MM-dd" title="عرض من تاريخ" />
        </div>

        <div class="form-group">
            <label for="endDate" class="control-label" style="margin:0 20px"> إلى تاريخ :</label>
            <kendo-datepicker min="new DateTime(2018,12,1)" name="endDate" id="endDate" value="lastMonthDay" format="yyyy-MM-dd" title="عرض الى تاريخ" />
        </div>

        <div class="form-group" style="margin: 0 30px">
            <button type="submit" id="showWastes" class="btn btn-primary"> عرض </button>
        </div>
    </form>
    <br />
</div>

<div id="wastesData">

</div>



@section scripts{
    <partial name="_ValidationScripts">
        <script>

        $(function () {

              $('form').submit(function (e) {
                if ($(this).valid()) {

                    var options = {
                    url: "@Url.Action("WastesReport", "EmployeesDaysReports")",
                    type: "Post",
                 dataType: "html",
                    data: { startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                        success: function updateWastes(data) {
                        $("#wastesData").html(data);
                        $("#wastesData").fadeIn();
                    },
                 error: function () {
                     $("#wastesData").text("error");
                     $("#wastesData").fadeIn();
                    }
                };

                $.ajax(options);

                }

                e.preventDefault();
            });

            toastr.clear();

        })

        </script>

}
