<script>
    var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
    $("#StartDate").data("kendoDatePicker").value(todayDate);
</script>

@*<div class="form-group col-md-2" style="text-align:center">
        <label for="reportType" class="control-label"> الملاخظات </label>
        <br />
        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="direction:ltr">
            <label class="btn btn-outline-info">
                <input type="radio" name="reportType" id="detailsReport" autocomplete="off" value="details"> عرض
            </label>
            <label class="btn btn-outline-info active">
                <input type="radio" name="reportType" id="summaryReport" autocomplete="off" value="summary" checked> إخفاء
            </label>
        </div>
    </div>*@
<div class="form-group col-md-2" style="text-align:center">
    <label for="reportType" class="control-label"> نوع التقرير </label>
    <br />
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="direction:ltr">
        <label class="btn btn-outline-info">
            <input type="radio" name="reportType" id="detailsReport" autocomplete="off" value="details"> تفصيلي
        </label>
        <label class="btn btn-outline-info active">
            <input type="radio" name="reportType" id="summaryReport" autocomplete="off" value="summary" checked> مختصر
        </label>
    </div>
</div>


@*<div class="form-row">
    <div class="form-group col-md-2">
        <label for="startDate" class="control-label"> من تاريخ :</label>
        <br />
        <kendo-datepicker name="startDate" id="startDate" value="firstMonthDay"
                          format="yyyy-MM-dd" min="new DateTime(2018,12,1)" max="lastMonthDay"
                          class="form-control" style="width:170px" data-toggle="tooltip" data-placement="bottom" title="عرض من تاريخ" />
    </div>
    <div class="form-group col-md-2">
        <label for="endDate" class="control-label"> إلى تاريخ :</label>
        <br />
        <kendo-datepicker name="endDate" id="endDate" value="lastMonthDay"
                          format="yyyy-MM-dd" min="new DateTime(2018,12,1)" max="lastMonthDay"
                          class="form-control" style="width:160px" data-toggle="tooltip" data-placement="bottom" title="عرض الى تاريخ" />
    </div>
    <div class="form-group col-md-2">
        <label for="employees" class="control-label"> الموظفين :</label>
        <br />
        @(Html.Kendo().MultiSelect()
                                        .Name("employees")
                                        .Placeholder("تحديد الموظفين ...")
                                        .HtmlAttributes(new { style = "100%" })
                                        .DataTextField("EmployeeId")
                                        .DataValueField("EmployeeId")
                                        .AutoClose(true)
                                        .AutoBind(false)
                                        .MinLength(3)
                                        .ItemTemplate("<span style=\"color:red\">#= EmployeeId #</span>&nbsp;-&nbsp; #= Name #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("ShortEmployeesInfoByTextJson", "Employees");
                                    })
                                    .ServerFiltering(true);
                                })
        )
    </div>
    <div class="form-group col-md-3" style="text-align:center">
        <label for="absentNote" class="control-label">الملاحظات</label>
        <div class="col" style="margin-top:5px">
            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="bottom" title="عرض جميع أيام الغياب بدون استثناء">
                <input style="margin-left:5px" class="form-check-input" type="radio" id="showNote" name="absentNotes" value="true" checked>
                <label for="showNote" class="form-check-label"> عرض </label>
            </div>
            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="bottom" title="إخفاء أيام الغياب لمن لديه طلب إجازة او إنتداب">
                <input style="margin-left:5px" class="form-check-input" type="radio" id="hideNote" name="absentNotes" value="false">
                <label for="hideNote" class="form-check-label"> إخفاء </label>
            </div>
            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="bottom" title="إخفاء أيام الغياب لمن لديه طلب إجازة او إنتداب">
                <input style="margin-left:5px" class="form-check-input" type="radio" id="hideNote" name="absentNotes" value="false">
                <label for="hideNote" class="form-check-label"> ملاحظات فقط  </label>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2" style="text-align:center;">
        <label for="reportType" class="control-label">نوع التقرير</label>
        <div class="col" style="margin-top:5px">
            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="bottom" title="تقرير مختصر بالغياب للموظفين">
                <input style="margin-left:5px" class="form-check-input" type="radio" id="summaryReport" name="reportType" value="true" checked>
                <label for="summaryReport" class="form-check-label"> مختصر </label>
            </div>
            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="bottom" title="تقرير تفصيلي بالغياب للموظفين">
                <input style="margin-left:5px" class="form-check-input" type="radio" id="detailsReport" name="reportType" value="false">
                <label for="detailsReport" class="form-check-label"> تفصيلي </label>
            </div>
        </div>
    </div>
    <div class="form-group col-md-1">
        <label for="showAbsents" class="control-label">&nbsp;</label>
        <br />
        <button type="submit" id="showAbsents" class="btn btn-info btn-block"> عرض <i class="fas fa-search"></i> </button>
    </div>
</div>*@


<script>
    var year = $("#years").val();
    var month = $("#months").val();

    var startDate = new Date(year, month - 1, 1);
    var lastDate = new Date(year, month, 0);
</script>