

<script id="workShiftsTemplate" type="text/kendo-tmpl">

    <div style="min-height:300px;margin:10px;">

        @(Html.Kendo().TabStrip()
                      .Name("tabStrip_#=Id#")
                      .SelectedIndex(0)
                      .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
                      .Items(items =>
                      {
                          items.Add().Text("ترتيب الورديات").Content(@<text> 

        <div style="min-height:400px;padding-top:20px">

            <div class="clearfix">
                <button id="test" onclick="toggleRamadan()" class="btn btn-outline-info float-left" data-toggle="button" aria-pressed="false" autocomplete="off"> عرض الترتيب في رمضان <i class="fas fa-moon"></i></button>
            </div>

            <br />
            @(Html.Kendo().Grid<WorkShiftViewModel>()
                    .Name("grd_#=Id#")
                    .Columns(columns =>
                    {

                                  columns.Bound(c => c.ShiftType).Title("نوع الوردية");
                                  columns.Bound(c => c.ShiftTypeInRamadan).Hidden(true).Title("نوع الوردية");
                                  columns.Bound(c => c.ShiftStartTime).Title("بداية الوردية");
                                  columns.Bound(c => c.ShiftEndTime).Title("نهاية الوردية");
                                  columns.Bound(c => c.ShiftStartTimeInRamadan).Hidden(true).Title("بداية الوردية");
                                  columns.Bound(c => c.ShiftEndTimeInRamadan).Hidden(true).Title("نهاية الوردية");
                                  columns.Bound(c => c.DayOffDescription).Title("وصف الإجازة");
                                  columns.Bound(c => c.DayOffDescriptionInRamadan).Hidden(true).Title("وصف الإجازة");

                    }).ToClientTemplate()
            )

        </div>
        
                            </text>);
                          items.Add().Text("جدول الورديات").Content(@<text>
                            
                                <div style="min-height:400px">

                                </div>  

                            </text>);
                      }).ToClientTemplate()
                                                              
        )

    </div>

</script>

<script>

    function toggleRamadan() {
        alert(event.target.id);

        var me = event.target;
        me.html(" عرض الترتيب خارج رمضان <i class='far fa-moon'></i>");
    }

</script>