

<script id="workShiftsTemplate" type="text/kendo-tmpl">

    <div style="min-height:300px;margin:10px;">

        @(Html.Kendo().TabStrip()
                      .Name("tabStrip_#=Id#")
                      .SelectedIndex(0)
                      .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
                      .Items(items =>
                      {
                          items.Add().Text("ترتيب الورديات").Content(@<text> 

                            <div style="min-height:400px;padding-top:20px">

                                <div class="clearfix">
                                    <button id="ramadanOrder" onclick="toggleRamadan('#=Id#')"  class="btn btn-outline-info float-left" data-toggle="button" aria-pressed="false" autocomplete="off"> خارج رمضان <i class="far fa-moon"></i></button>
                                </div>

                                <br />

                                @(Html.Kendo().Grid<WorkShiftViewModel>()
                                        .Name("grd_#=Id#")
                                        .Columns(columns =>
                                        {

                                            columns.Bound(c => c.ShiftType).Title("نوع الوردية");
                                            columns.Bound(c => c.ShiftTypeInRamadan).Hidden(true)
                                              .Title("نوع الوردية").ClientHeaderTemplate("نوع الوردية <i class='far fa-moon'></i>");
                                            columns.Bound(c => c.ShiftStartTime).Title("بداية الوردية");
                                            columns.Bound(c => c.ShiftEndTime).Title("نهاية الوردية");
                                            columns.Bound(c => c.StartTimeInRamadan).Title("بداية الوردية").Hidden(true)
                                                .ClientHeaderTemplate("بداية الوردية <i class='far fa-moon'></i>");
                                            columns.Bound(c => c.EndTimeInRamadan).Title("نهاية الوردية").Hidden(true)
                                                .ClientHeaderTemplate("نهاية الوردية <i class='far fa-moon'></i>");
                                            columns.Bound(c => c.DayOffDescription).Title("وصف الإجازة");
                                            columns.Bound(c => c.DayOffDescriptionInRamadan).Title("وصف الإجازة").Hidden(true)
                                                .ClientHeaderTemplate("وصف الإجازة <i class='far fa-moon'></i>");

                                        }).ToClientTemplate()
                                )

                            </div>
        
                            </text>);
                          items.Add().Text("جدول الورديات").Content(@<text>
                            
                            <div style="min-height:400px">

                            </div>  

                            </text>);
                      }).ToClientTemplate()                                      
        )

    </div>

</script>

<script>

    function toggleRamadan(calendarName) {
        var me = event.target;

        var shiftsOrderGrid = $("#grd_" + calendarName).data("kendoGrid");
        if ($("#ramadanOrder").hasClass('active')) {
            $("#ramadanOrder").html("خارج رمضان <i class='far fa-moon'></i>");
            shiftsOrderGrid.columns.forEach(function (col) {
                if (col.field.toLowerCase().indexOf("ramadan") >= 0) {
                    shiftsOrderGrid.hideColumn(col);
                }
                else {
                    shiftsOrderGrid.showColumn(col);
                }
            });
        }
        else {
            $("#ramadanOrder").html("رمضان <i class='fas fa-moon'></i>");
            shiftsOrderGrid.columns.forEach(function (col) {
                if (col.field.toLowerCase().indexOf("ramadan") >= 0) {
                    shiftsOrderGrid.showColumn(col);
                }
                else {
                    shiftsOrderGrid.hideColumn(col);
                }
            });
        }
    }

</script>