
@{
    ViewData["Title"] = "الورديات";
}

<div class="row">

    <div class="col" style="margin-top:5px; text-align:center">
        @*<label for="ShiftA" class="form-check-label" weight:bold"> الورديات المسجلة </label>*@
        <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="دوام صباحي ٧:٣٠ ص - ٢:٣٠ م">
            <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftA" name="ContractWorkTime" value="ShiftA">
            <label for="ShiftA" class="form-check-label" weight:bold"> المجوعة أ </label>
        </div>
        <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="وردية صباحية ٧:٣٠ ص - ٣:٣٠ م">
            <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftB" name="ContractWorkTime" value="ShiftB">
            <label for="ShiftB" class="form-check-label"> المجوعة ب </label>
        </div>
        <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="وردية مسائية ٣:٣٠ م - ١١:٣٠ م">
            <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftC" name="ContractWorkTime" value="ShiftC">
            <label for="ShiftC" class="form-check-label"> المجوعة ج </label>
        </div>
        <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="وردية ليلية ١١:٣٠ م - ٧:٣٠ ص">
            <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftD" name="ContractWorkTime" value="ShiftD">
            <label for="ShiftD" class="form-check-label"> المجوعة د </label>
        </div>
        <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="إجازة نهاية الوردية">
            <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftE" name="ContractWorkTime" value="ShiftE">
            <label for="ShiftE" class="form-check-label">المجوعة هـ </label>
        </div>
        @*<small id="emailHelp" class="form-text text-muted text-center"> الرجاء تحديد الورية</small>*@
    </div>
    @*<div class="col-md-3"><button class="btn btn-info" style="margin:0 30px"> بحث <i class="fas fa-search"></i></button></div>*@

</div>
<br />

<div class="clearfix">
    <h5 class="text-info float-right"> <i class="fas fa-calendar-alt"></i> تقاويم الوردية </h5>
    <button class="btn btn-sm btn-outline-info float-left" style="width:150px" data-toggle="modal" data-target="#addCalendarModal"><i class="fa fa-plus"></i>  إضافة تقويم جديد </button>
</div>
<hr />

@(Html.Kendo()
            .Grid<WorkCalendarViewModel>()
            .Name("grdWorkCalendars")
            .AutoBind(false)
            .Columns(column =>
            {
                column.Bound(c => c.Name).Title("اسم التقويم");
                column.Group(g => g
                    .Title("تاريخ البداية")
                    .Columns(c =>
                    {
                        c.Bound(m => m.StartDate).Title("ميلادي").Format("{0:yyyy/MM/dd}").Width(200);
                        c.Bound(m => m.StartDateHijri).Title("هجري").Width(200);
                    }));
                column.Group(g => g
                    .Title("تاريخ النهاية")
                    .Columns(c =>
                    {
                        c.Bound(m => m.EndDate).Title("ميلادي").Format("{0:yyyy/MM/dd}").Width(200);
                        c.Bound(m => m.EndDateHijri).Title("هجري").Width(200);
                    }));
                column.Bound(c => c.WorkCalendarType).Title("نوع التقويم");
                column.Bound(c => c.Note).Title("ملاحظات");
                column.Bound(c => c.Id).Title("تحكم").ClientTemplate(
                    "<a href='\\#addCalendarModal' data-toggle='modal' data-calendarId ='#= Id #' class='text-secondary' title='التقويم الافتراضي'><i class='fas fa-pencil-alt'></i> </a>" +
                    "<a href='\\#deleteModal' data-toggle='modal' data-calendarId='#= Id #' class='text-danger' title='حذف'><i class='fas fa-trash-alt'></i></a>");
            })
            .DataSource(d =>
                d.Ajax()
               .ServerOperation(false)
               .Read(read => read.Action("GetAllCalendarsByWorkTimeJsonForKendo", "WorkCalendars").Data("readCalendarsData"))
               )
               .ClientDetailTemplateId("workShiftsTemplate")
)

<div id="addCalendarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCalendarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="calendarsForm">

                <input type="hidden" id="calendarId" name="calendarId" />

                <div class="modal-header">
                    <h5 class="modal-title text-info" id="addCalendarLabel"><i class="fas fa-calendar-alt"></i> إضافة تقويم جديد</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="calendarName" class="control-label">اسم التقويم</label>
                        <input type="text" class="form-control" id="calendarName" name="calendarName" />
                    </div>
                    <div class="form-group">
                        <label for="workType" class="control-label">نوع التقويم</label>
                        <div class="col">
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="تقويم عمل">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="workCalendar" name="workType" value="work">
                                <label for="workCalendar" class="form-check-label"> تقويم عمل </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="تقويم إجازة">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="vacationCalendar" name="workType" value="vacation">
                                <label for="vacationCalendar" class="form-check-label"> تقويم إجازة </label>
                            </div>
                        </div>
                    </div>
                    <div data-workCalendar class="form-group">
                        <label for="durationType" class="control-label"> المدة </label>
                        <div class="col">
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="تقويم مفتوح">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="openCalendar" name="durationType" value="open">
                                <label for="openCalendar" class="form-check-label"> مفتوح </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="تقويم محدود">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="limitedCalendar" name="durationType" value="limited">
                                <label for="limitedCalendar" class="form-check-label"> محدود </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="calendarStartDate" class="control-label">بداية التقويم</label>
                        <br />
                        <kendo-datepicker class="form-control" min="new DateTime(2018,12,1)" name="calendarStartDate" id="calendarStartDate" value="DateTime.Today" format="yyyy-MM-dd" title="تاريخ بداية التقويم" />
                    </div>
                    <div data-limitedCalendar class="form-group">
                        <label for="calendarEndDate" class="control-label">نهاية التقويم</label>
                        <br />
                        <kendo-datepicker class="form-control" min="new DateTime(2018,12,1)" name="calendarEndDate" id="calendarEndDate" value="DateTime.Today" format="yyyy-MM-dd" title="تاريخ نهاية التقويم" />
                    </div>
                    <div class="form-group">
                        <label for="calendarNote" class="control-label">ملاحظات</label>
                        <textarea class="form-control" rows="3" id="calendarNote" name="calendarNote"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">حفظ</button>
                    <button onclick="toastr.warning('تم الغاء الأمر')" type="reset" class="btn btn-secondary btn-sm" style="margin-right:10px;" data-dismiss="modal">إلغاء الأمر</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteLabel"> هل آنت متأكد من الحذف ؟</h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button onclick="deleteConfiremd()" class="btn btn-primary" data-dismiss="modal">نعم</button>
                <button onclick="toastr.warning('تم الغاء الأمر')" class="btn btn-secondary" style="margin-right:10px;" data-dismiss="modal">إلغاء الأمر</button>
            </div>
        </div>
    </div>
</div>

<partial name="_WorkShifts" />

<partial name="_WorkShifts_Scripts" />


@section header{
    <style>

        .k-grid-header .k-grid-header-wrap th.k-header {
            text-align: center;
            vertical-align: middle;
        }

    </style>
}

@section scripts{
    <partial name="_ValidationScripts">
        <script>

                    var calendarsGrid;
                    var selectedWorkTime;

                    function readCalendarsData() {
                        return {
                            contractWorkTime: selectedWorkTime
                        }
                    }

                    function updateWorkTimeInfo() {

                        selectedWorkTime = $("input[name='ContractWorkTime']:checked").val();
                        calendarsGrid.dataSource.read();

                    }

                    function updateNewCalendarInfo() {
                        var selectedWorkType = $("input[name='workType']:checked").val();
                        var selectedDurationType = $("input[name='durationType']:checked").val();

                        if (selectedWorkType == 'work') {
                            $("[data-workCalendar]").fadeIn();
                            $("[data-vacationCalendar]").fadeOut();
                            if (selectedDurationType == 'open') {
                                $("[data-limitedCalendar]").fadeOut();
                            }
                            else {
                                $("[data-limitedCalendar]").fadeIn();
                            }
                        }
                        else {
                            $("[data-workCalendar]").fadeOut();
                            $("[data-limitedCalendar]").fadeIn();
                            $("[data-vacationCalendar]").fadeIn();
                        }

                    }

                    var deleteMode;

                    function deleteConfiremd() {

                        $("#deleteModal").modal("hide");

                        if (!deleteMode) {
                            return;
                        }

                        if (deleteMode == 'calendar') {
                            deleteCalendar();
                        }
                    }

                    var selectedCalendar;

                    function deleteCalendar() {

                        if (!selectedCalendar) {
                            return;
                        }

                        var options = {
                            url: "@Url.Action("DeleteItemJson", "WorkCalendars")",
                            type: "Post",
                            data: {
                                id: selectedCalendar
                            },
                            dataType: "json",
                            success: function (data) {
                                if (data.errors) {
                                    toastr.error(data.errors[0]);
                                    return;
                                }
                                toastr.success("تم حذف تقويم الورديات بنجاح");
                            },
                            error: function () {
                                toastr.error("خطأ الرجاء المحاولة لاحقاً");
                                return;
                            },
                            complete: function () {
                                updateWorkTimeInfo();
                            }
                        };

                        $.ajax(options);

                    }

            $(function () {

                        //$(".k-grid-header tr th").eq(1).css("text-align", "center");
                        //$(".k-grid-header tr th").eq(2).css("text-align", "center");
                        $(".k-grid-header tr th").css("text-align", "center");
                        $(".k-grid-header tr th").css("vertical-align", "middle");

                        calendarsGrid = $("#grdWorkCalendars").data("kendoGrid");

                        //Initialize all radio buttons
                        $("#ShiftA").prop("checked", true);
                        $("#workCalendar").prop("checked", true);
                        $("#openCalendar").prop("checked", true);

                        updateWorkTimeInfo();
                        updateNewCalendarInfo();

                        $('input[type=radio][name=ContractWorkTime]').change(function () {
                            updateWorkTimeInfo();
                        });

                        $('input[type=radio][name=workType] , input[type=radio][name=durationType]').change(function () {
                            updateNewCalendarInfo();
                        });

                        $('#addCalendarModal').on('show.bs.modal', function (event) {
                            var button = $(event.relatedTarget) // Button that triggered the modal
                            var calendarId = button.data('calendarid') // Extract info from data-* attributes

                            if (!calendarId) {
                                calendarId = 0;
                            }
                            else {

                                var options = {
                                        url: "@Url.Action("GetDataByIdJson", "WorkCalendars")",
                                        type: "Get",
                                        data: {
                                            id: calendarId
                                        },
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.errors) {
                                                toastr.error(data.errors[0]);
                                                event.preventDefault();
                                                return;
                                            }
                                            $("#calendarName").val(data.Name);

                                            if (data.IsVacationCalendar) {
                                                $('#vacationCalendar').prop('checked', true);
                                            }
                                            else {
                                                $('#workCalendar').prop('checked', true);
                                            }

                                            if (data.IsOpenDuration) {
                                                $('#openCalendar').prop('checked', true);
                                            }
                                            else {
                                                $('#limitedCalendar').prop('checked', true);
                                            }

                                            $("#calendarStartDate").data("kendoDatePicker").value(data.StartDate);
                                            $("#calendarEndDate").data("kendoDatePicker").value(data.EndDate);
                                            $("#calendarNote").val(data.Note);
                                            updateNewCalendarInfo();
                                        },
                                    error: function () {
                                        toastr.error("خطأ اثناء قراءة معلومات التقويم");
                                        event.preventDefault();
                                        }
                                    };

                                    $.ajax(options);

                            }

                            $("#calendarId").val(calendarId);
                        })

                        $('#calendarsForm').submit(function (e) {
                                if ($(this).valid()) {

                                    $("#addCalendarModal").modal("hide");

                                    var options = {
                                        url: "@Url.Action("UpdateCalendarsInfo", "WorkCalendars")",
                                        type: "Post",
                                        data: {
                                            id: $("#calendarId").val(),
                                            name: $("#calendarName").val(),
                                            startDate: $("#calendarStartDate").val(),
                                            endDate: $("#calendarEndDate").val(),
                                            contractWorkTime: $("input[name='ContractWorkTime']:checked").val(),
                                            isVacationCalendar: $("input[name='workType']:checked").val() == "vacation",
                                            IsOpenDuration: $("input[name='durationType']:checked").val() == "open",
                                            note: $("#calendarNote").val()
                                        },
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.errors) {
                                                toastr.error(data.errors[0]);

                                                return;
                                            }
                                            toastr.success("تم حفظ تقويم الوردية بنجاح");
                                        },
                                        error: function () {
                                            toastr.error("خطأ اثناء حفظ التقويم");
                                        },
                                        complete: function () {
                                            updateWorkTimeInfo();
                                        }
                                    };

                                    $.ajax(options);


                                }

                            e.preventDefault();
                        });

                        $('#deleteModal').on('show.bs.modal', function (event) {
                            var button = $(event.relatedTarget) // Button that triggered the modal
                            selectedCalendar = button.data('calendarid') // Extract info from data-* attributes
                            if (selectedCalendar) {
                                $('#deleteLabel').text('هل انت متأكد من حذف التقويم ؟');
                                deleteMode = 'calendar';
                            }
                        })

                    });

        </script>
}



