.header-top {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background: linear-gradient(110deg,#96d4dd, #1197aa);
}

    .header-top > div {
        flex: 2;
    }

.header-title {
}

.header-top > .header-clock {
    flex: 1;
}

.header-logo {
    margin-right: auto;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(110deg,#f1f5f1, #dddada);
    height: 60px;
}
