@import url("animations.css");

html, body {
    box-sizing: border-box;
    height: 100%;
    background-image: url('../Images/circles-light.png');
}

.main-Container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    margin: 0px 30px 30px 30px;
    direction: rtl;
    text-align: right;
    background: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    padding: 40px;
}

.toast-top-left {
    margin-top: 80px;
    margin-left: 40px;
    text-align: right;
}
