@import url("animations.css");

html, body {
    box-sizing: border-box;
    height: 100%;
    background-image: url('../Images/circles-light.png');
    /*background-color: #302f2f;*/
}

.main-Container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    margin: 0px 30px 30px 30px;
    direction: rtl;
    text-align: right;
    background: rgba(255, 255, 255,0.5);
    /*background-color: black;*/
    border-radius: 10px;
    padding: 40px;
}

.toast-top-left {
    margin-top: 80px;
    margin-left: 40px;
    text-align: right;
}

@media print{
    main {
        margin: 0px;
        padding: 0px;
    }

    table.table-bordered {
        border: 2px solid gray;
    }

    table.table-bordered thead {
        border: 2px solid gray;
    }
    table.table-bordered thead tr{
        border: 2px solid gray;
    }
    table.table-bordered thead tr th {
        background-color: #bbe3e8;
        border: 2px solid gray;
    }

    table.table-bordered  tbody{
        border: 2px solid gray;
    }
    table.table-bordered tbody tr {
        border: 2px solid gray;
    }
    table.table-bordered tbody tr td {
        border: 2px solid gray;
    }

    table.report-container {
        page-break-after: always;
    }

    thead.report-header {
        display: table-header-group;
    }

    tfoot.report-footer {
        display: table-footer-group;
    }

    #header-info{
        padding-top:1.5cm;
        margin-bottom:1px;
    }

    #employee-info {
        margin-top: 6px;
        margin-bottom: 3px;
    }
}

@page {
    margin-top: 0cm;
    margin-bottom: 1.5cm;
    margin-left: 1.25cm;
    margin-right: 1.25cm;
}




