
@{
    ViewData["Title"] = "Index";
}

<div>
    <img style="max-width:100px; max-height:120px" src="~/Images/scan-fingerprint-icon.png" />
    <h1 class="text-info" style="display:inline">نظام البصمة</h1>
</div>

