<div class="container d-print-none" style="margin-top:80px;text-align:center;direction:rtl;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a is-active-controller asp-controller="Home" asp-action="index" class="nav-link">الرئيسية</a>
        </li>
        <li class="nav-item">
            <a is-active-controller asp-controller="Departments" asp-action="index" class="nav-link"><i class="fas fa-stream fa-rotate-180"></i> الهيكل الاداري</a>
        </li>
        <li class="nav-item">
            <a is-active-controller asp-controller="Employees" asp-action="EmployeeDetails" class="nav-link"><i class="far fa-address-card fa-flip-horizontal"></i> الموظف</a>
        </li>
        <li class="nav-item">
            <a is-active-controller asp-controller="ProcessingRequests" asp-action="Index" class="nav-link"><i class="fas fa-microchip"></i> طلبات المعالجة</a>
        </li>
        <li class="nav-item">
            <a asp-controller="EmployeesDaysReports" is-active-action asp-action="Absents" class="nav-link"><i class="fas fa-file"></i> الغياب</a>
        </li>
        <li class="nav-item">
            <a asp-controller="EmployeesDaysReports" is-active-action asp-action="Wastes" class="nav-link"><i class="far fa-file"></i> التقصير</a>
        </li>
        <li class="nav-item">
            <a is-active-controller asp-controller="WorkCalendars" asp-action="Index" class="nav-link"><i class="far fa-clock"></i> الورديات</a>
        </li>
    </ul>
</div>