<div class="container" style="margin-top:80px;text-align:center;direction:rtl;">
    <ul class="nav nav-tabs">
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="Home" asp-action="index" class="nav-link">الرئيسية</a>
        </li>
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="Departments" asp-action="index" class="nav-link">الهيكل الاداري</a>
        </li>
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="Employees" asp-action="EmployeeDetails" class="nav-link">الموظف</a>
        </li>
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="ProcessingRequests" asp-action="Index" class="nav-link">طلبات المعالجة</a>
        </li>
    </ul>
</div>